<!--loader-->
<div class="loader-wrap">
    <div class="pin"></div>
</div>
<div id="main">
    <app-toolbar></app-toolbar>
    <app-sidebar></app-sidebar>
    <div id="wrapper">
        
        <!-- scroll-nav-wrap end-->
        <!-- hero-wrap-->
       
        <router-outlet></router-outlet>
        <div class="height-emulator fl-wrap"></div>
    </div>

    <app-footer></app-footer>

    <!-- footer end-->
    <!-- contact-btn -->
    <a class="contact-btn color-bg" href="contacts.html"><i class="fal fa-envelope"></i><span>Get in Touch</span></a>
    <!-- contact-btn end -->
    <!-- share-wrapper -->
    <div class="share-wrapper isShare">
        <div class="share-title"><span>Share</span></div>
        <div class="close-share soa"><span>Close</span><i class="fal fa-times"></i></div>
        <div class="share-inner soa">
            <div class="share-container"></div>
        </div>
    </div>
</div>