<div class="nav-overlay">
    <div class="tooltip color-bg">Close Menu</div>
</div>
<div class="nav-holder">
    <a class="header-logo" href="index.html"><img src="assets/images/logo2.png" alt=""></a> 
    <div class="nav-title"><span>Menu</span></div>
    <div class="nav-inner-wrap">
        <nav class="nav-inner sound-nav" id="menu">
            <ul>
                    <li> <a routerLink="/home" routerLinkActive="active">Home</a></li>

                  <!-- <li>
                    <a href="#" class="act-link">Home</a>
                   
                  <ul>
                        <li><a href="index.html">Half Slider</a></li>
                        <li><a href="index2.html">Half Image</a></li>
                        <li><a href="index3.html" class="act-link">Impulse Image</a></li>
                        <li><a href="index4.html">Fullscreen  Image</a></li>
                        <li><a href="index5.html">Fullscreen  Slider</a></li>
                        <li><a href="index6.html">Slideshow</a></li>
                        <li><a href="index7.html">Fullscreen Carousel</a></li>
                        <li><a href="index8.html">Video</a></li>
                    </ul>
                </li> -->
                <!-- <li><a href="services.html">Services</a></li> -->
                <li> <a routerLink="/contact" routerLinkActive="active">Contacts</a></li>

                <li> <a routerLink="/blogs" routerLinkActive="active">Blog</a></li>             
            </ul>
        </nav>
    </div>
</div>